:root
{
--Marineblue: hsl(213, 96%, 18%);
--Purplishblue: hsl(243, 100%, 62%);
--Pastelblue: hsl(228, 100%, 84%);
--Lightblue: hsl(206, 94%, 87%);
--Strawberryred: hsl(354, 84%, 57%);
--Coolgray: hsl(231, 11%, 63%);
--Lightgray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*
{
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  background-color: var(--Lightgray);
}
.App
{
  display: grid;
  place-items: center;
  background-color: var(--Lightgray);
  min-width: 375px;
}

header{display: flex;
  height:170px;
  background-repeat: no-repeat;
  width: 375px;
  align-self: start;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header button
{
  position: relative;
  top: -40px;
  padding: 6px 10px;
  border-radius: 5rem;
  border: 1px white solid;
  background-color: var(--Purplishblue);
  color: white;
}
header button:focus
{
  background-color: var(--Pastelblue);
  color: var(--Purplishblue);
  border: none;
}
.personal,.plans
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  width: 350px;
  padding: 10px 30px;
  height:400px;
  background-color: white;
  /*box-shadow: #2196F3 1px 1px 10px;*/
  position: relative;
  top: -70px;
  gap: 20px;
}
.plans
{
  height: 500px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label
{
  color: var(--Purplishblue);
}
input
{
  padding: 10px 20px;
  width: 300px;
  border-radius: 5px;
  border: 1px var(--Lightgray) solid;
}
h2{
  color: var(--Marineblue);
}
p
{
  font-size: 16px;
  color: var(--Coolgray);
}
input::placeholder
{
  font-size: 16px;
  font-weight: bold;
  color: var(--Coolgray);
}
input:hover
{
  cursor: pointer;
}
footer
{
  background-color: white;
  display: flex;
  width: 375px;
  justify-content: space-around;
  gap: 100px;
  
}
footer button
{
  background-color: var(--Marineblue);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 5px;
  color: white;
}
footer button:nth-child(1)
{
  color: transparent;
  background-color: transparent;
  border: none;
}


.plan-offers
{
  gap: 10px;
}
.pmonth ,.pyearly
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pyearly img{
  height: 50px;
  width: 50px;
}
.arcade,.pro,.advanced
{
  display: flex;
  gap: 20px;
  border: 1px solid var(--Lightgray);
  border-radius: 8px;
  padding: 10px;
}


.arcade:active,.pro:active,.advanced:active
{
  background-color: var(--Purplishblue);
  cursor: pointer;
}
.switch 
{
    display: flex;
    justify-content: center;
    background-color: var(--Alabaster);
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  